

.Note {
    box-sizing: border-box;
    height: 229px;
    width: 576px;
    border: solid 2px black;
    padding: 32px;
    position: relative;
    background-color: white;
}

.completed {
  opacity: 50%;
}

.borderCRITICAL {
    border-color: #D57575;
    color: #D57575;
}

.borderMEDIUM {
    border-color:#395B64;
    color:#395B64;
}

.borderLOW {
    border-color: #A5C9CA;
    color: #A5C9CA;
}

.menuIcons {
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 2;
    cursor: pointer;
}

.dots {
    background-image: url(../../assets/dots.svg);
}

.close {
    background-image: url(../../assets/close.svg);
}

.header {
    height: 35px;
    width: 512px;
    display: flex;
    gap: 16px;
}

.titleNoteBox {
    height: 35px;
    width: 100%;
    border: solid 1px black;
    display: flex;
    align-items: center;   
}

.bodyNoteBox {
    height: 114px;
    width: 512px;
    border: solid 1px black;
    margin-top: 16px;
    background-color: transparent;
    resize: none;
}

.noBorder {
    border: none;
}

textarea, input {
    border: none;
    font-family: 'Source Sans Pro';
    background-color: transparent;
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
}

textarea {
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    resize: none;
    overflow: hidden;   
}

input {
    width: 100%;
    height: 33px;
}

.noBorder textarea {
    margin-left: -3px;
}

.noBorder input {
    border: none;
    font-family: 'Lora';
    background-color: transparent;
    font-size: 28px;
    font-weight: 700;
    line-height: 33.6px;
}

.completed input {
    text-decoration: line-through;
}

input:focus::placeholder, textarea:focus::placeholder {
    color: transparent;
}

.inputTitle:focus, .textareaBody:focus {
    background-color:#A5C9CA ;
    outline: none;
}

.textCRITICAL input {
    color: #D57575
}

.textMEDIUM input {
    color: #395B64
}

.textLOW input {
    color: #A5C9CA
}
