

.Menu {
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    background: rgba(251, 253, 252, 0.75);
    z-index: 1;
    display: flex;
    gap: 16px;
    backdrop-filter: blur(1px);
    justify-content: center;
    align-items: center;
}
  
.btnsContainer {
    display: flex;
    gap: 16px;
}
