.Menu {
    box-sizing: border-box;
    height: 226px;
    width: 573px;
    padding: 32px;
    margin: 16px;
    position: absolute;
    top: -16px;
    left: -16px;
    background: rgba(251, 253, 252, 0.75);
    z-index: 1;
    display: flex;
    gap: 16px;
    backdrop-filter: blur(1px);
    justify-content: center;
    align-items: center;
}
  
.btnsContainer {
    height: 35px;
    width: 334px;
    display: flex;
    gap: 16px;
    position: absolute;
}

.buttons {
    box-sizing: border-box;
    height: 35px;
    padding: 8px 12px;
    font-family: 'Source Sans Pro';
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    gap: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.btnIcons {
    height: 16px;
    width: 16px;    
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
}

.btnDelete {
    background-color: #D57575;
}

.iconDelete {
    background-image: url(../../assets/delete.svg);
}

.btnEdit {
    background-color: #395B64;
}

.iconEdit {
    background-image: url(../../assets/edit.svg);
}

.btnComplete {
    background-color: #73A584;
}

.iconComplete {  
    background-image: url(../../assets/done.svg);
}
