.Header {
    height: 67px;
    box-sizing: border-box;
    padding: 16px 32px 16px 32px;
    display: flex;
    position: sticky;
    top: 0;
    background-color: pink;
    width: 100vw;
    z-index: 10;
}

.Header span {
    margin-top: 5px;
    height: 25px;
    color: black;
    font-family: "Lora";
    font-weight: 700;
    font-size: 21px;
    line-height: 25.2px;
    cursor: context-menu;
}

.searchBox {
    height: 35px;
    width: 221px;
    border: solid 1px black;
    box-sizing: border-box;
    padding: 8px;
    margin-right: 8px;
    margin-left: 32px;
    font-family: "Source Sans Pro";
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    outline: none;
    background-color: white;
}

.searchBox:focus {
    background-color: #a5c9ca;
    outline: solid 1px black;
}

.btnAddNote {
    height: 35px;
    width: 35px;
    background-color: #395b64;
    background-image: url(../../assets/add.svg);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center;
    cursor: pointer;
}

.disabled {
    background-color: #a5c9ca;
    cursor: default;
}
